<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/header :: headerCss}">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>
<div class="content">
    <div class="contentLeft">
        <form method="POST" th:object="${auth_user}">
            <fieldset>
                <label>Nowe Hasło
                    <input type="text" th:field="*{password}"  sec:authorize="isAuthenticated()"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="error"></p>

                    <input sec:authorize="isAuthenticated()" type="hidden" th:field="*{username}" />

                    <input sec:authorize="isAuthenticated()" type="hidden" th:field="*{email}" />
                </label>
                <input type="submit" th:action="@{'/user/password/{id}'(id=${auth_user.getId()})}" th:value="Zmień" />
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>