<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: headerCss}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div th:class="content">
    <div class="articleShort">
    <h4>Notowania giełdowe <img th:src="@{/chart.png}" width="30px" /></h4>
    <br>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Symbol</th>
        <!--<th sec:authorize="isAuthenticated()">Historia</th>-->
    </tr>
    <tr th:each="symbol: ${symbols}">
        <td th:text="${symbol.getName()} ?: 'null'"/>
        <bolt><td th:text="${symbol.getPrice()}" th:style="'color: blue;'"/></bolt>
        <td th:text="${symbol.getCode()} ?: 'null'"/>
        <!-- <td sec:authorize="isAuthenticated()" >
            <a th:href="@{'/symbols/{code}'(code=${symbol.getCode()})}">otwórz</a>
        </td>-->
    </tr>
</table></div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>